body {
    background-color: black;
}
h1{
    color: rgb(255, 255, 255);
}

button{
    background-color: hsl(123, 29%, 53%);
    color: hsl(0, 0%, 100%);
    border: none;
    height: 40px;
    width: 106px;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.20s;

}

#button-1{
    margin-left: 600px;
}

button:hover{
    background-color: hsl(123, 59%, 43%);
    }

button:active{
    background-color: hsl(123, 94%, 47%);
}    

p{
    color: aliceblue;
}